.center{
    padding-left: 17.5%;
    padding-bottom: 40px;
}

.title{
    padding-left: 35%;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.4px black;
}

body {
    background-color: rgba(51, 192, 235, 0.979);
}