.center{
    padding-left: 17.5%;
    padding-bottom: 40px;
}

.title{
    padding-left: 35%;
    color: lightcyan;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

body {
    background-image: url("CrowdImage.jpg");
}